.container-in-developpement {
  min-height: 99.6875vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #373232;
  color: #5de48b;
}
.footer-admin {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 100%;
  background-color: grey;
  position: fixed;
  bottom: 0;
}
.footer-content {
  color: white;
  letter-spacing: 1px;
}
